.ArticleDetailsPage {
  opacity: 1;
}

.commentsList {
  margin-top: 16px;
}

.title {
  margin-top: 24px;
}

.recomendations {
  height: 346px;
  flex-wrap: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
}